# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Virtual environments
.venv/
env/
venv/
.env


# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Data (you can fine-tune later)
data/raw/
data/processed/
exports/
visualizations/

